<div class="tab-pane fade" id="tab-4" role="tabpanel">
    <div class="row row--grid">
        <!-- details form -->
        <div class="col-12 col-lg-6">
            <form action="/settings" method="POST" class="sign__form sign__form--profile">
                <div class="row">
                    <div class="col-12">
                        <h4 class="sign__title">Profile details</h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label badge badge-success" for="username">Username (Cannot be changed)</label>
                            <input type="hidden" value="<%=user._id%>" name="_id">
                            <input id="username" type="text" class="sign__input" placeholder="<%=user.username%>" disabled>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="email">Email</label>
                            <input id="email" type="text" name="email" class="sign__input" placeholder="email@email.com">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="firstname">First name</label>
                            <input id="firstname" type="text" name="firstname" class="sign__input" placeholder="John">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="lastname">Last name</label>
                            <input id="lastname" type="text" name="lastname" class="sign__input" placeholder="Doe">
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="sign__group">
                            <label class="sign__label" for="lastname">About</label>
                            <textarea  type="text" name="about" class="sign__input" style="margin-top: 0px; margin-bottom: 0px; height: 135px;"></textarea>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="sign__group">
                            <label class="sign__label" for="website">Website</label>
                            <input id="website" type="text" name="website" class="sign__input" placeholder="https://site.com">
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4 col-xl-4" >
                        <button class="sign__btn" id="social-media" type="button">Add social medias</button>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12" id="socials-add"></div>

                    <div class="col-12">
                        <button class="sign__btn" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- end details form -->

        <!-- password form -->
        <div class="col-12 col-lg-6">
            <form action="#" class="sign__form sign__form--profile">
                <div class="row">
                    <div class="col-12">
                        <h4 class="sign__title">Change password</h4>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="oldpass">Old password</label>
                            <input id="oldpass" type="password" name="oldpass" class="sign__input">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="newpass">New password</label>
                            <input id="newpass" type="password" name="newpass" class="sign__input">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="confirmpass">Confirm new password</label>
                            <input id="confirmpass" type="password" name="confirmpass" class="sign__input">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                        <div class="sign__group">
                            <label class="sign__label" for="select">Select</label>
                            <select name="select" id="select" class="sign__select">
                                <option value="0">Option</option>
                                <option value="1">Option 2</option>
                                <option value="2">Option 3</option>
                                <option value="3">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="sign__btn" type="button">Change</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- end password form -->
    </div>
</div>