<%-include('components/header')%>

    <%-include('components/navbar')%>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>

       <%-include('components/sidebar')%>
        
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Become an Artist</h3>
                    </div>
                </div>

                <div class="row layout-spacing ">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <form action="/control/become-an-artist" method="POST" class="mb-4">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="title" id="sample13">
                                    <label class="mdl-textfield__label" for="sample13">Title</label>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="row">
                                        <div class="widget-header">                                
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h4> Page Body </h4>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-5">
                                            <div class="panel-body">
                                                <div class="summernote" id="summernote" name="body">
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary"> Submit </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!--  END CONTENT PART  -->
    </div>
    <!-- END MAIN CONTAINER -->

   <%-include('components/footer')%>

</body>
</html>